body {
    
    background-color: white;

}

.head {

    text-align: right;
    padding-bottom: 100px;


}

.img {
    position: relative;
    left: 500px;
}

.sea {
    position: relative;
    left: 400px;
    
}

.but {
    position: relative;
    left: 500px;
    top: 20px;
    bottom: 10px;
}

.goo {
    position: relative;
    left: 450px;
    top: 20px;
    bottom: 10px;
}

.foot {
    position: relative;
    left: inherit;
    top: 200px;
}

.in {
    border-radius: 20px;
    border-color: lightgray;
    height: 40px;
    color: lightgray;
    background-image: url(search.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 4px center;
}

.bot {
    border: none;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}